# Dependencies
node_modules/

# Production
dist/
build/

# Environment Variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# .NET / C#
bin/
obj/
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Misc
.DS_Store
*.log

# User secrets and development configurations
RmsApi/appsettings.json

# User uploads and candidate files (automatically created by backend if missing)
RmsApi/wwwroot/uploads/

# IDE directories
.idea/
.vscode/
*.suo
*.user
*.sln.docstates

# Root level temporary assets
/Markdown to PDF.pdf
/Recovered_Image.png
